<div class="flex flex:col my:1rem border:1px|solid|#CCC r:0.5rem p:1rem">
  <h3 class="mb:1rem">Dates of Contract</h3>

    <div class="flex flex:row justify-content:space-between">
    <p>Date Sign:</p>
    <p>{{ contract.DateSign  }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Date Start Contract:</p>
    <p>{{ contract.DateStartContract  }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Date End Contract:</p>
    <p>{{ contract.DateEndContract  }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Date Start Execution:</p>
    <p>{{ contract.DateStartExecution  }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Date End Execution:</p>
    <p>{{ contract.DateEndExecution }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Date Start Liquidation:</p>
    <p>{{ contract.DateStartLiquidation  }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Date End Liquidation:</p>
    <p>{{ contract.DateEndLiquidation  }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Last Update:</p>
    <p>{{ contract.LastUpdate  }}</p>
  </div>
</div>
