<div class="flex flex:col my:1rem border:1px|solid|#CCC r:0.5rem p:1rem">
  <h3 class="mb:1rem">Investment of Contract</h3>

  <div class="flex flex:row justify-content:space-between">
    <p>State Bank of National Investment:</p>
    <p class="text:end">{{ contract.StateBankOfNationalInvestmentProjects }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Code Bank of National Investment:</p>
    <p class="text:end">{{ contract.CodeBankOfNationalInvestmentProjects }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Year Bank of National Investment:</p>
    <p>{{ contract.YearBankOfNationalInvestmentProjects }}</p>
  </div>

   <div class="flex flex:row justify-content:space-between">
    <p>Balance Certificate of Budgetary:</p>
    <p>{{ contract.BalanceCertificateOfBudgetaryAvailability }}</p>
  </div>

   <div class="flex flex:row justify-content:space-between">
    <p>Balance Vigence:</p>
    <p>{{ contract.BalanceVigence }}</p>
  </div>

   <div class="flex flex:row justify-content:space-between">
    <p>Expenses Destination:</p>
    <p>{{ contract.ExpenseDestination }}</p>
  </div>

     <div class="flex flex:row justify-content:space-between">
    <p>Origen Resources:</p>
    <p>{{ contract.OrigenResources }}</p>
  </div>

     <div class="flex flex:row justify-content:space-between">
    <p>Days Added:</p>
    <p>{{ contract.DaysAdded }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Points of the Agreement:</p>
    <p>{{ contract.PointsOfTheAgreement }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Pillars of the Agreement:</p>
    <p>{{ contract.PillarsOfTheAgreement }}</p>
  </div>
</div>
