<div class="flex flex:col my:1rem border:1px|solid|#CCC r:0.5rem p:1rem">
  <h3 class="mb:1rem">Information Type of Contract</h3>

  <div class="flex flex:row justify-content:space-between">
    <p>Type Contract:</p>
    <p>{{ contract.TypeContract }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Contracting Mode:</p>
    <p>{{ contract.ContractingMode }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Justify Contrating Mode:</p>
    <p>{{ contract.JustifyContractingMode }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Is Group:</p>
    <p>{{ contract.IsGroup }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Is Pyme:</p>
    <p>{{ contract.IsPyme }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Is Post Conflict:</p>
    <p>{{ contract.IsPostConflict }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Enable Advance Payment:</p>
    <p>{{ contract.EnableAdvancePayment }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Liquidation:</p>
    <p>{{ contract.Liquidation }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Environment Obligation:</p>
    <p>{{ contract.EnvironmentalObligation }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Post Consumer Obligation:</p>
    <p>{{ contract.PostConsumerObligation }}</p>
  </div>
</div>
