<div class="flex flex:col my:1rem">
  <h3>Value of Contract</h3>

  <div class="flex flex:row justify-content:space-between">
    <p>Value Invoice:</p>
    <p>{{ contract.ValueInvoice }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Value Pending Payment:</p>
    <p>{{ contract.ValuePendingPayment }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Value Paid:</p>
    <p>{{ contract.ValuePaid }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Value Amortized:</p>
    <p>{{ contract.ValueAmortized }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Value Pending Amortized:</p>
    <p>{{ contract.ValuePendingAmortized }}</p>
  </div>

  <div class="flex flex:row justify-content:space-between">
    <p>Value Pending Execution:</p>
    <p>{{ contract.ValuePendingExecution }}</p>
  </div>
</div>
