<div class="border:1px|solid|#CCC p:1rem r:1rem">
  <div class="flex flex:col">
    <p class=font:bold>{{ contract.Serial }}</p>
  </div>

  <app-entity-contract [contract]="contract"/>
  <app-location-contract [contract]="contract"/>

  <div class="flex flex:col my:1rem border:1px|solid|#CCC r:0.5rem p:1rem">
    <h3 class="mb:1rem">Information State of Contract</h3>

    <div class="flex flex:row justify-content:space-between">
      <p>State Contract:</p>
      <p class="text:end">{{ contract.StateContract }}</p>
    </div>

    <div class="flex flex:row justify-content:space-between">
      <p>Code Category Main:</p>
      <p class="text:end">{{ contract.CodeCategoryMain }}</p>
    </div>

    <div class="flex flex:row justify-content:space-between">
      <p>Process Purchase:</p>
      <p>{{ contract.ProcessPurchase }}</p>
    </div>

    <div class="flex flex:row justify-content:space-between">
      <p>Serial Contract:</p>
      <p>{{ contract.SerialContract }}</p>
    </div>

    <div class="flex flex:row justify-content:space-between">
      <p>Reference Contract:</p>
      <p>{{ contract.ReferenceContract }}</p>
    </div>
  </div>

  <app-investment-contract [contract]="contract"/>

  <div class="my:1rem">
    <h3 class="font:bold mb:0.5rem">Description Process</h3>
    <div class="bg:gray-90 border:1px|solid|#CCC r:0.5rem px:1rem py:0.5rem">
      <p>{{ contract.DescriptionProcess }}</p>
    </div>
  </div>

  <div class="my:1rem">
    <h3 class="font:bold mb:0.5rem">Object Contract</h3>
    <div class="bg:gray-90 border:1px|solid|#CCC r:0.5rem px:1rem py:0.5rem">
      <p>{{ contract.ObjectContract }}</p>
    </div>
  </div>

  <app-dates-contract [contract]="contract"/>
  <app-provider-contract [contract]="contract"/>
  <app-type-contract [contract]="contract"/>
  <app-value-contract [contract]="contract"/>
  <app-legal-representative-contract [contract]="contract"/>
  <app-external-resources-contract [contract]="contract"/>

  <div class="my:1rem">
    <a class="bg:sky-60 color:white font:bold px:1rem py:0.5rem r:0.3rem"
       [href]="contract.ProcessUrl" target="_blank">
      Process URL
    </a>
  </div>
</div>
