<main class="p:1rem flex flex:col gap:1rem">
  @for (contract of contracts; track contract) {
    <div class="border:1px|solid|#CCC p:1rem r:1rem">
      <p class=font:bold>{{ contract.Serial }}</p>
      <div class="flex flex:row justify-content:space-between">
        <p>{{ contract.NameEntity }}</p>
        <p>{{ contract.NitEntity }}</p>
      </div>

      <div class="flex flex:row justify-content:space-between">
        <p>{{ contract.Department }} / {{ contract.City }}</p>
        <p>{{ contract.Location }}</p>
      </div>

       <div class="flex flex:row justify-content:space-between">
        <p>{{ contract.Order }} / {{ contract.Sector }}</p>
        <p>{{ contract.Branch }}</p>
      </div>
    </div>
  }
</main>

<router-outlet></router-outlet>
