<nav
  class="flex flex:row align-items:center justify-content:space-between gap:1rem sticky top:0 bg:white border-bottom:1px|solid|#CCC px:1rem py:0.5rem">
  <h1>Contracts</h1>
  <app-icon-arrow-left/>
</nav>

<main class="font:sans p:0.5rem flex flex:col gap:1rem">
  @for (contract of contracts; track contract) {
    <app-contract [contract]="contract"/>
  }
</main>

<footer
  class="flex flex:row justify-content:space-around gap:1rem sticky bottom:0 bg:white border-top:1px|solid|#CCC p:1rem">
  <div class="flex flex:1 align-items:center justify-content:center border:1px|solid|#CCC r:1em p:0.5em">
    <app-icon-arrow-right/>
  </div>
  <p class="flex flex:1 align-items:center justify-content:center border:1px|solid|#CCC r:1em p:0.5em">1</p>
  <p class="flex flex:1 align-items:center justify-content:center border:1px|solid|#CCC r:1em p:0.5em">2</p>
  <p class="flex flex:1 align-items:center justify-content:center border:1px|solid|#CCC r:1em p:0.5em">...</p>
  <p class="flex flex:1 align-items:center justify-content:center border:1px|solid|#CCC r:1em p:0.5em">11</p>
  <div class="flex flex:1 align-items:center justify-content:center border:1px|solid|#CCC r:1em p:0.5em">
    <app-icon-arrow-left/>
  </div>
</footer>
